%animateMenuIcon {
  @media screen and (max-width: 767px) {
    transform-origin: center;
    animation-name: toggleMenuButton;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }
}
