$mainBgColor: #ffffff;
$darkBgColor: #2f303a;
$paleBgColor: #f5f4fa;
$heroBgColor: #c4c4c4;
$overlayShadingColor: rgba(47, 48, 58, 0.4);
$overlayTextColor: rgba(47, 48, 58, 0.8);
$overlayPortfolioColor: rgba(33, 150, 243, 0.9);
$overlayBackdropColor: rgba(0, 0, 0, 0.2);
$btnBgColor: #f5f4fa;
$primaryTextColor: #757575;
$inverseTextColor: #ffffff;
$titleTextColor: #212121;
$navLinkColor: #212121;
$logoBlackColor: #000000;
$footerAddressColor: rgba(255, 255, 255, 0.6);
$footerSocialColor: rgba(255, 255, 255, 0.1);
$accentColor: #2196f3;
$borderColor: #eeeeee;
$borderBlackColor: #000000;
$borderModalBtnColor: rgba(0, 0, 0, 0.1);
$borderInputColor: rgba(33, 33, 33, 0.2);
$modalPlaceholderTextColor: rgba(117, 117, 117, 0.5);
$iconColor: #afb1b8;

$mainText: Roboto;
$logoText: Raleway;

$cubicBezierMain: cubic-bezier(0.4, 0, 0.2, 1);
$transitionTime: 250ms;
