.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $darkBgColor;
}

.site-footer__container {
  display: flex;
  flex-direction: column;

  text-align: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    text-align: left;
  }
}

.site-footer__block-title {
  margin-top: 0;
  margin-bottom: 20px;

  color: $inverseTextColor;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.site-footer__address-block {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.site-footer__social-block {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 70px;
  }
}
