.team {
  background-color: $paleBgColor;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.person {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: $mainBgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.person__photo {
  margin-bottom: 30px;
}

.person__name {
  margin-top: 0;
  margin-bottom: 10px;

  color: $titleTextColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.person__position {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.person__social-container {
  padding: 16px 0 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
