.logo {
  display: inline-block;

  color: $logoBlackColor;
  text-decoration: none;

  font-family: $logoText, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    margin: 16px 0;
  }
}

.logo__start-text {
  color: $accentColor;
}

.site-footer__logo {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  color: $inverseTextColor;
}
